/*css documents of index.html or common css*/
body{
	margin:0;
	padding:0;
}
.body {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+47,a1dbff+100;Blue+3D+%2313 */
background: #f0f9ff; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
*{
	margin:0;
	padding:0;
}
.row{
	margin:0;
	padding:0;
}
@font-face {
  font-family: "CALISTBI";
  src: url("fonts/CALISTBI.eot?") format("eot"),
  url("fonts/CALISTBI.woff") format("woff"),
  url("fonts/CALISTBI.ttf") format("truetype");
}
@font-face {
  font-family: "Calisto_mt_bold";
  src: url("fonts/Calisto_mt_bold.eot?") format("eot"),
  url("fonts/Calisto_mt_bold.woff") format("woff"),
  url("fonts/Calisto_mt_bold.ttf") format("truetype");
}
@font-face {
  font-family: "MTCORSVA";
  src: url("fonts/MTCORSVA.eot?") format("eot"),
  url("fonts/MTCORSVA.woff") format("woff"),
  url("fonts/MTCORSVA.ttf") format("truetype");
}
@font-face {
  font-family: "CALISTB";
  src: url("fonts/CALISTB.eot?") format("eot"),
  url("fonts/CALISTB.woff") format("woff"),
  url("fonts/CALISTB.ttf") format("truetype");
}
@font-face {
  font-family: "CALIST_1";
  src: url("CALIST_1.eot?") format("eot"),
  url("CALIST_1.woff") format("woff"),
  url("CALIST_1.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("fonts/Roboto-Medium.eot?") format("eot"),
  url("fonts/Roboto-Medium.woff") format("woff"),
  url("fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("fonts/Roboto-Regular.eot?") format("eot"),
  url("fonts/Roboto-Regular.woff") format("woff"),
  url("fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "MyriadPro-Regular";
  src: url("fonts/MyriadPro-Regular.eot?") format("eot"),
  url("fonts/MyriadPro-Regular.woff") format("woff"),
  url("fonts/MyriadPro-Regular.ttf") format("truetype");
}
.content{
   max-width:1366px;
   margin:auto;
   background:#ffffff;
}
.content .header{
	width:;
}
.content .header .top-header{
	width:;
	background:#209de2;
	height:auto;
}
.content .header .top-header p{
	color:#ffffff;
	font-size:17px;
	text-align:center;
	padding-top:2%;
	font-family:CALIST_1;
}
.content .header .top-header p.welcome{
	font-size:17px;
	font-family:CALISTBI;
	font-style:Italic;
	font-weight:Bold;
}
.content .header .top-header  .envevlope{
	font-size:23px;
	margin-left:-32%;
}
.content .header .top-header  .phone{
	font-size:23px;
}
.content .header .top-header a.myCart{
	font-size:;
	color:#ffffcc;
    text-decoration:none;
	outline:none;
} 
.content .header .top-header a.myCart:hover{
	text-decoration:none;
	color:#fbede6;
	outline:none;
}
.content .header .top-header a.myCart:active{
	text-decoration:none;
	color:#c5710b;
	outline:none;
}
.content .header .top-header a.myCart:active:focus{
	outline:none;
	border:none;
}
.content .header .medium-header .home  a{
	color:#209de2;
	font-size:16px;
	outline:none;
	border:none;
	font-family:CALIST_1;
	font-style:Regular;
}
.content .header .medium-header .home  a:hover{
	color:#f48a09;
}
.content .header .medium-header .home  a:active{
	color:#ad6103;
}
.content .header .medium-header{
	height:auto;
}
.content .header .medium-header .same-border{
	background:#ffffff;
	border:none;
	outline:none;
	border-radius:none;
}
@media (min-width: 768px)
{
.navbar {
    border-radius:0 !important;
}
}
.content .header .medium-header ul li a{
	font-size:16px;
	outline:none;
	border:none;
	font-family:CALIST_1;
	padding-top:;
}
.content .header .medium-header ul li a:hover{
	color:#ad6103;
}
.content .header .medium-header ul li a:active{
	color:#000000;
}
.navbar-form  .form-group  input[placeholder]{
	font-family:Roboto-Medium;
	font-style:medium;
}
.navbar-form  .form-group {
	margin-top:;
}
.navbar-form  .form-group  input .glyphicon{
}
.content .header .medium-header .navbar-header a.navbar-brand img{
	margin-top:-11%;
	outline:none;
	border:none;
	margin-left:;
	z-index:1;
	position:absolute;
}
.content .header .medium-header .navbar-header a.navbar-brand {
	outline:none;
	border:none;
}
.content .header .medium-header .navbar-header a.navbar-brand img:hover {
	opacity:;
}
.content .header .medium-header .navbar-header a.navbar-brand img:active{
	opacity:;
}
.content .header .medium-header .form-control{
	border-radius:0;
	border:1px solid #4b4b4b;
}
.content .header .bottom-header{
	background:url(img/brown.png);
	width:100%;
	height:530px;
	margin-top:-2%;
}
.content .header .bottom-header .carousel-inner img{
	padding-top:15%;
}
.content .header .bottom-header .carousel-inner h1{
	text-align:;
	color:#ffffff;
	padding-bottom:;
	font-family:Roboto-Medium;
	font-style:medium;
	margin-top:;
	font-size:36px;
	text-shadow:none;
}
.content .header .bottom-header .white{
	background:url(img/white.png);
	width:;
	height:auto;
	margin-top:;
	margin-bottom:;
	border-radius:;
	font-family:CALIST_1;
	text-shadow:none;
	border-radius:5px;
}
.content .header .bottom-header .white .register{
	border-bottom:1px solid #83ba3c;
}
.content .header .bottom-header .white a.brown{
	font-size:17px;
	color:#fb7033;
    text-decoration:none;
	outline:none;
} 
.content .header .bottom-header .white a.brown:hover{
	text-decoration:none;
	color:#f7cf9f;
	outline:none;
}
.content .header .bottom-header .white  a.brown span:active{
	text-decoration:none;
	color:#c5710b;
	outline:none;
}
.content .header .bottom-header .white  a.brown:active:focus{
	outline:none;
	border:none;
}
.content .header .bottom-header .white .straight-line{
	color:#fb7033;
}
.content .header .bottom-header .white a.grey{
	font-size:17px;
	color:#4f4f4f;
    text-decoration:none;
	outline:none;
}
.content .header .bottom-header .white a.grey:hover{
	text-decoration:none;
	color:#a69797;
	outline:none;
}
.content .header .bottom-header .white  a.grey span:active{
	text-decoration:none;
	color:#444444;
	outline:none;
}
.content .header .bottom-header .white .one{
	padding-top:15%;
}
.content .header .bottom-header .white h3{
	color:#83ba3c;
	text-align:center;
	font-size:19px;
	margin-top:3%;
}
.content .header .bottom-header .form  input{
	border:none;
	border-bottom:1px solid #4f4f4f;
	width:100%;
	font-size:16px;
	outline:none;
}
.content .header .bottom-header.form  input:focus{
	border-bottom:1px solid #cccccc;
	color:#000000;
	outline:none;
}
.content .header .bottom-header .form  button{
	background-color:#83ba3c;
	color:#ffffff;
	font-size:16px;
	border:none;
	-webkit-box-shadow:;
    box-shadow:;	
	padding:1% 7%;
}
.content .header .bottom-header .form  button:focus{
	outline:none;
	background:#cccccc;
	color:#000000
}
.content .header .bottom-header .form  button:active:focus{
	outline:none;
	background:#cccccc;
	color:#000000;
}
.content .header .bottom-header .form  button:hover{
	outline:none;
	background:#cccccc;
}
.main-content{
	margin-top:1%;
	width:;
}
.main-content .green{
	background:url(img/green.png);
	width:32%;
	height:auto;
	padding-bottom:2%;
	margin:;
	margin-right:;
	border:1px solid #71b915;
}
.main-content .green h2{
	font-size:26px;
	color:#444444;
	font-family:CALIST_1;
}
.main-content .green .white-heading{
	border-bottom:1px solid #ffffff;
}
.main-content .green p{
	color:#444444;
	font-size:17px;
	text-align:justify;
	font-family:CALIST_1;
}
.main-content .green  a.first{
	color:#ffffff;
	text-align:center;
	text-decoration:none;
	font-size:18px;
	outline:none;
	border:none;
	font-family:CALISTB;
	font-weight:Bold;
}
.main-content .green  a.first:hover{
	color:#cccccc;
}
.main-content .green  a.first:active{
	color:#000000;
}
.main-content .grey-1 h2{
	font-size:26px;
	color:#444444;
	font-family:CALIST_1;
}
.main-content .grey-1 .heading{
	border-bottom:1px solid #444444;
}
.main-content .grey-1 a.second{
	color:#000000;
	text-align:center;
	text-decoration:none;
	font-size:18px;
	border:none;
	outline:none;
	font-family:CALISTB;
	font-weight:Bold;
}
.main-content .grey-1 a.second:hover{
	color:#ae7ae7;
}
.main-content .grey-1 a.second:active{
	color:#e24747;
}
.main-content .grey-1 p{
	color:#444444;
	font-size:17px;
	text-align:justify;
	font-family:CALIST_1;
}
.main-content .grey-2 h2{
	font-size:26px;
	color:#444444;;
	font-family:CALIST_1;
}
.main-content .grey-2 .heading{
	border-bottom:1px solid #444444;
}
.main-content .grey-2 p{
	color:#444444;
	font-size:17px;
	text-align:justify;
	font-family:CALIST_1;
	
}
.main-content .grey-2  a.third{
	color:#000000;
	border:none;
	outline:none;
	text-align:center;
	text-decoration:none;
	font-size:18px;
	font-family:CALISTB;
	font-weight:Bold;
}
.main-content .grey-2 a.third:hover{
	color:#ae7ae7;
}
.main-content .grey-2 a.third:active{
	color:#e24747;
}
.main-content .green img{
	margin-top:5%;
	width:370px;
	height:250px;
}
.main-content .grey-1 img{
	margin-top:5%;
	width:370px;
	height:250px;
}
.main-content .grey-2 img{
	margin-top:5%;
	width:370px;
	height:250px;
}
.main-content h2{
	text-align:center;
}
.main-content .grey-1{
	background:url(img/grey-1.png);
	width:;
	height:auto;
	padding-bottom:2%;
	margin:;
	margin-right:.;
	border:1px solid #fb7033;
}
.aboutpof2{
	width:32.3% !important;
	margin-right:1% !important;
}
.aboutpof3{
	width:32.3%;
	margin-right:1% !important;
}
.aboutpof1{
	width:32.3% !important;
}
.main-content .grey-1:hover{
	background:#83ba3c;
	border:1px solid #83ba3c;
}
.main-content .grey-2{
	background:url(img/grey-2.png);
	width:32%;
	height:auto;
	padding-bottom:2%;
	margin:;
	border:1px solid #209de2;
}
.main-content .first-h{
	font-size:36px;
	color:#fb7033;
}
.second-h{
	font-size:36px;
	color:#fb7033;
}
.main-content .search-icon{
	margin-top:2%;
}
.main-content .form-control{
	border:1px solid #4b4b4b;
	border-radius:0;
}
.schedule{
	border-top:1px solid #fb7033;
	border-bottom:1px solid #fb7033;
	font-family:MTCORSVA;
}
.schedule h1{
	margin-top:1%;
}
.schedule-2{
	border-top:1px solid #83ba3c;
	border-bottom:1px solid #83ba3c;
	font-family:MTCORSVA;
}
.schedule-2 h1{
	margin-top:1%;
	color:#83ba3c;
}
.text{
	float:;
	margin-right:5%;
}
.text img{
	border-radius:5px;
	width:320px;
	height:200px;
	float:;
	margin-right:5px;
}
.text .contain{
	position:relative;
	float:left;
}
.text .written{
	color:#ffffff;
	font-family:Roboto-Medium;
}

.text .written a{
	color:#ffffff;
	border:none;
	outline:none;
	font-size:25px;
}
.text .written a:hover{
	color:#cccccc;
}
.text .written a .glyphicon:active{
	color:#000000;
}
.text .contain{
	position:relative
}
.text .written{
	position:absolute;
	top:20%;
	left:20%;
	color:#ffffff;
	font-size:25px;
}
.text .written span{
	position:absolute;
	margin-left:70px;
	top:100%;
}
.main-page .slider-heading{
	margin-left:-52%;
	font-family:Roboto-Medium;
}
.main-page .slider-heading .heading1{
	font-size:36px;
}
.main-page .slider-heading .heading3{
	font-size:56px;
}
.carousel-sign{
	color:#fba945;
}
.main-page .black-line a{
	border-bottom:1px solid #999999;
	border:none;
	outline:none;
	text-decoration:none;
	color:#5e5e5e;
	font-family:CALIST_1;
}
.main-page .black-line a:hover{
	color:#8d8787;
}
.main-page .black-line a:active{
	color:#000000;
}
.main-page .grey-line a{
	border-bottom:1px solid #999999;
	border:none;
	outline:none;
	text-decoration:none;
	color:#5e5e5e;
	font-family:CALIST_1;
}
.main-page .grey-line a:hover{
	color:#8d8787;
}
.main-page .grey-line a:active{
	color:#000000;
}
.main-page .small-font a{
	border-bottom:1px solid #999999;
	border:none;
	outline:none;
	text-decoration:none;
	color:#5e5e5e;
	font-family:CALIST_1;
}
.main-page .small-font a:hover{
	color:#8d8787;
}
.main-page .small-font a:active{
	color:#000000;
}
.main-page .grey-line{
	border-bottom:1px solid #cccccc;
}
.main-page ul li{
	font-size:18px;
	padding:3% 10%;
	border-bottom:1px solid #999999;
	font-family:CALIST_1
}
.main-page ul{
	padding:0 5%;
}
.main-page .sof{
	text-align:center;
	color:#83ba3c;
	margin-top:-3%;
	font-family:MTCORSVA;
}
.main-page .winners a{
	color:#83ba3c;
	border:none;
	outline:none;
	text-decoration:none;
	font-family:CALIST_1;
}
.main-page .winners a:hover{
	color:#f89824;
}
.main-page .winners a:active{
	color:#dd7b04;
}
.main-page .awards a{
	color:#ff6633;
	border:none;
	outline:none;
	text-decoration:none;
	font-family:CALIST_1;
	font-size:15px;
}
.main-page .awards a:hover{
	color:#cc6666;
}
.main-page .awards a:active{
	color:#663333;
}
.main-page .small-font{
	font-size:15px;
}
.main-page .left{
	margin-left:;
}
.main-page .align{
}
.main-page .right-side{
	border:2px solid #cccccc;
}
.main-page .right-side ul li a{
	color:;
}
.main-page .first-b{
	background:#fb7033;
	width:175px;
	height:45px;
}
.main-page .second-b{
	background:#00b0f2;
	width:175px;
	height:45px;
}
.main-page .third-b{
	background:#5987bf;
	width:175px;
	height:45px;
}
.main-page .fourth-b{
	background:#ee7752;
	width:175px;
	height:45px;
}
.main-page .fifth-b{
	background:#83ba3c;
	width:175px;
	height:45px;
}
.main-page .sixth-b{
	background:#5bad70;
	width:175px;
	height:45px;
}
.main-page .white-p{
	font-size:24px;
	color:#ffffff;
	text-align:center;
	line-height:45px;
	font-family:CALIST_1;
}
.main-page h2.blue{
	font-size:30px;
	color:#fb7033;
	font-family:MTCORSVA;
}
.main-page h2.blue:hover{
	color:#209de2;
}
.main-page h2.red{
	font-size:30px;
	color:#fb7033;
	font-family:MTCORSVA;
}
.contain {
    position: relative;
}
.contain img{
    border-radius:5px;
	margin-left:-3.4%;
}
.stage .contain{
	background:none;
}
.stage img{
	width:432px;
	height:240px;
}
.stage img:hover{
}
.book img{
	width:432px;
	height:240px
}
.stage .alignment {
    position: absolute;
    font-size: ;
    top:28%;
    left:28%;
}
.book .alignment {
    position: absolute;
    font-size: ;
    top:8%;
    left:5%;
}
.main-page .stage p{
	color:#ffffff;
	font-size:20px;
	text-align:center;
	font-family:Calisto_mt_bold;
	font-weight:bold;
}
.main-page .book p{
	color:#ffffff;
	font-size:42px;
	text-align:center;
	font-family:Roboto-Medium;
}
.main-page .stage a{
	color:#ffffff;
	text-decoration:none;
	border:none;
	outline:none;
	font-family:Calisto_mt_bold;
	font-weight:bold;
}
.main-page .stage a:hover{
	color:#ed8c8c;
}
.main-page .stage a:active{
	color:#f32b2b;
}
.staff h4{
	color:#444444;
	font-size:18px;
	font-family:CALIST_1;
}
.staff h1{
	font-family:MTCORSVA;
	color:#83ba3c;
}
.staff p{
	color:#444444;
	font-size:17px;
	font-family:CALIST_1;
	text-align:center;
}
.staff  .pager  li a{
	background:#83ba3c;
	border:none;
	outline:none;
}
.staff  .pager a.arrow:active {
	color:#444444;
	border:none;
	outline:none;	
}
.staff .pager li a{
	color:#ffffff;
}
.subscribe{
	width:;
	background:#fb7033;
	border-bottom:10px solid #209de2;
}
.subscribe h2{
	color:#ffffff;
	padding-bottom:4%;
	font-size:36px;
	padding-top:-2%;
	font-family:MTCORSVA;
}
.subscribe input[placeholder]{
	font-size:16px;
	font-family:CALIST_1;
}
.subscribe .send{
	font-size:15px;
	border:none;
	outline:none;
	margin-left:-1%;
	background:transparent;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:16px;
	padding-right:16px;
	color:#ffffff;
	border-radius:5px;
	font-family:CALIST_1;
	border:1px solid #ffffff;
	
}
.subscribe .send:active:focus{
	outline:none;
	border:none;
	border:1px solid #ffffff;
}
.subscribe .send:active{
	outline:none;
	border:none;
	color:#000000;
	border:1px solid #ffffff;
}
.subscribe .send:hover{	
    color:#333333;
	border:1px solid #ffffff;
}
.subscribe .send:focus{
	outline:none;
	border:none;
	border:1px solid #ffffff;
}
.subscribe .send:visited{
	outline:none;
	border:none;
	border:1px solid #ffffff;
}
.footer p{
	font-size:17px;
	color:#444444;
}
.footer p.one{
	font-family:Roboto-Regular;
}
.footer{
	margin-bottom:;
	border-bottom:10px solid #209de2;
}
.footer p.two{
	font-family:Roboto-Regular;
}
.footer .icons a{
	font-size:20px;
	color:#b5e13e;
	border:none;
	outline:none;
}
.footer .icons a i:hover{
	color:#bbff02;
	border:none;
	outline:none;
}
.footer .icons a i:active{
	color:#95ca07;
	border:none;
	outline:none;
}
.footer .icons  i{
	margin-right:4%;
}
.footer .icons  i.fa-circle{
	color:#209de2;
}
.footer .icons p{
	color:#209de2;
	font-size:15px;
	text-align:center;
	font-family:CALIST_1;
}
.footer-bottom{
	height:50px;
	background:#b5e13e;
}
.big-slide{
	width:878px;
	height:340px !important;
}
.row.homeMenu div {
    color: #fff;
    font-size: 24px;
    line-height: 45px;
    margin-bottom: 30px;
    text-align: center;
}
.row.homeMenu div a {
    color: #fff;
    text-decoration: none;
}
.item img.fixed-size{
	width:340px;
	height:220px !important;
}
img.first-slider{
	width:500px;
	height:380px!important;
	border-radius:5px;
}
h1.carousel-heading{
	font-family:Roboto-Medium;
	font-style:medium;
}
/*css documents of index-inner.html*/
.main-page .sky-line h1{
	color:#3399cc;
	font-size:36px;
	border-bottom:1px solid #3399cc;
	font-family:MTCORSVA;
	display:inline;
}
.main-page .sky-line p.first-red{
	color:#ff6633;
	font-size:20px;
	font-family:CALIST_1;
	text-align:justify;
}
.main-page .sky-line p.first-red .fa-circle{
	font-size:16px;
}
.main-page .sky-line p.second-grey{
	color:#666666;
	font-size:17px;
	font-family:CALIST_1;
	text-align:justify;
}
.main-page .sky-line p.second-grey .fa-circle{
	font-size:13px;
}
.main-page .sky-line h2{
	color:#99cc33;
	font-size:36px;
	border-bottom:1px solid #99cc33;
	font-family:MTCORSVA;
	display:inline;
}
.main-page .sky-line table.red {
	text-align:center;
}
.main-page .sky-line table.red .inner-table {
	border-color:#ff6633;
	font-family:CALIST_1;
	font-size:17px;
}
.main-page .sky-line table.red .inner-table-1 {
	border-color:#ff6633;
	border-top:2px solid #ff6633;
	border-left:2px solid #ff6633;
	border-right:2px solid #ff6633;
	color:#ff6633;
	font-size:24px;
	font-family:CALIST_1;
}
.main-page .sky-line table.red .text {
	font-size:20px;
	color:#ff6633;
	font-family:CALIST_1;
	font-weight:normal;
}
.main-page .sky-line table.red .left {
	border-left:2px solid #ff6633;
}
.main-page .sky-line table.red .right {
	border-right:2px solid #ff6633;
}
.main-page .sky-line table.red .bottom {
	border-bottom:2px solid #ff6633;
}
.main-page .sky-line table.sky {
	text-align:center;
}
.main-page .sky-line table.sky .inner-table {
	border-color:#3399cc;
	font-family:CALIST_1;
	font-size:17px;
}
.main-page .sky-line table.sky .inner-table-1 {
	border-color:#3399cc;
	border-top:2px solid #3399cc;
	border-left:2px solid #3399cc;
	border-right:2px solid #3399cc;
	color:#3399cc;
	font-size:24px;
	font-family:CALIST_1;
}
.main-page .sky-line table.sky .text {
	font-size:20px;
	color:#3399cc;
	font-family:CALIST_1;
	font-weight:normal;
}
.main-page .sky-line table.sky .left {
	border-left:2px solid #3399cc;
}
.main-page .sky-line table.sky .right {
	border-right:2px solid #3399cc;
}
.main-page .sky-line table.sky .bottom {
	border-bottom:2px solid #3399cc;
}
.main-page .sky-line table.green {
	text-align:center;
}
.main-page .sky-line table.green .inner-table {
	border-color:#99cc33;
	font-family:CALIST_1;
	font-size:17px;
}
.main-page .sky-line table.green .inner-table-1 {
	border-color:#99cc33;
	border-top:2px solid #99cc33;
	border-left:2px solid #99cc33;
	border-right:2px solid #99cc33;
	color:#99cc33;
	font-size:24px;
	font-family:CALIST_1;
}
.main-page .sky-line table.green .text {
	font-size:20px;
	color:#99cc33;
	font-family:CALIST_1;
	font-weight:normal;
}
.main-page .sky-line table.green .left {
	border-left:2px solid #99cc33;
}
.main-page .sky-line table.green .right {
	border-right:2px solid #99cc33;
}
.main-page .sky-line table.green .bottom {
	border-bottom:2px solid #99cc33;
}
.main-page .sky-line h3{
	color:#3399cc;
	font-size:24px;
	border-bottom:;
	font-family:MTCORSVA;
	display:;
}
.main-page .sky-line .h4{
	color:#ff6633;
	font-size:17px;
	border-bottom:;
	font-family:CALIST_1;
	display:;
}
.main-page .sky-line span.second-grey{
	color:#666666;
	font-size:17px;
	font-family:CALIST_1;
	text-align:justify;
}
.main-page .sky-line h4{
	color:#ff6633;
	font-size:20px;
	border-bottom:;
	font-family:CALISTB;
	display:;
	text-align:;
}
.main-page .sky-line .h5{
	color:#ff6633;
	font-size:24px;
	border-bottom:;
	font-family:MTCORSVA;
	display:;
	text-align:;
}
/*end of index-inner.html-css*/
/*ravi.css*/
  ul ul{
    padding-left: 30px;
}
ul{list-style:none;}
.pages
{padding-left:63px !important;}
.sky-line li {
    list-style: outside none none;
    margin-left: 6px;
    padding: 24px 0 0 !important;
}
marquee ul li {
    float: left;
}

/*end of ravi.css*/
